.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
  letter-spacing: 1px;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 8px 20px 0px 20px;
}

.header__search {
  display: flex;
  align-items: center;
  flex: 1;
  border-radius: 24px;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 5px 0px 0px 5px; /* top-left -> top-right -> bottom-right ->bottom-left  */
}

.header__searchIcon {
  background-color: #cd9042;
  height: 22px !important;
  padding: 5px;
  border-radius: 0px 5px 5px 0px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.header__option {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin: 0 10px;
}

.header__optionLineOne {
  font-size: 12px;
  line-height: 0.9;
}

.header__optionLineTwo {
  font-size: 15px;
  font-weight: 700;
}

.header__optionCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0px 10px;
}

.header__cartCount {
  display: flex;
  justify-content: center;
  font-weight: 500;
  color: #cd9042;
  font-size: 13px;
}
